@use 'mixins' as mixin;
@use 'colors';

.submit-btn {
  @include mixin.button-style(colors.$light-success-color, rgba(colors.$dark-color, 0.8), 1em);
  width: 100%;
  color: rgba(colors.$dark-color, 0.8);
  padding: 0.75em 1.75em;
  @include mixin.animation(all, 250ms, ease-in-out);

  &:is(:hover, :active) {
    background-color: colors.$success-color;
    transform: translateY(1px);
    cursor: pointer;
  }
}

.restart-btn {
  background: none;
  border-style: none;
}

.restart-icon {
  fill: rgba(colors.$light-color, 0.5);
  transition: transform 500ms ease;

  &:is(:hover, :active) {
    fill: colors.$light-color;
    transform: rotate(-360deg);
    cursor: pointer;
  }
}
