@use 'mixins' as mixin;
@use 'colors';

.submit-btn {
  @include mixin.button-style(colors.$light-success-color, rgba(colors.$dark-color, 0.8), 1em);
  width: 100%;
  padding: 0.75em 1.75em;
  @include mixin.animation(all, 250ms, ease-in-out);

  &:is(:hover, :active) {
    background-color: colors.$success-color;
    transform: translateY(1px);
  }
}

.restart-btn {
  @extend .submit-btn;
  @include mixin.button-style(colors.$light-restart-color, rgba(colors.$dark-color, 0.8), 1em);
  &:is(:hover, :active) {
    background-color: colors.$restart-color;
  }
}
