$dark-color: #042a2b;
$light-cancel-color: #ef959d;
$cancel-color: #e96d78;
$light-success-color: #9ecaa1;
$success-color: #7fb983;
$light-color: #fcfcfc;
$board-hover-color: #d9dbbc;
$pure-white: #ffffff;
$pure-black: #000000;
$light-restart-color: #8dc8d2;
$restart-color: #5eb1bf;
$floure-cyan: #54f2f2;
