$dark-color: #042a2b;
$cancel-color: #ef959d;
$light-success-color: #9ecaa1;
$success-color: #7fb983;
$light-color: #fcfcfc;
$board-hover-color: #d9dbbc;
$pure-white: #ffffff;
$pure-black: #000000;
$blue-stone: #5eb1bf;
$floure-cyan: #54f2f2;
