@use 'mixins';
@use 'modal';
@use 'buttons';
@use 'colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  background-color: colors.$dark-color;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.playground {
  aspect-ratio: 1/1;
  width: clamp(300px, 50vw, 450px);
  margin: 2em;
  display: none;
  background-color: rgba(colors.$light-color, 0.8);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
}

.cells {
  aspect-ratio: 1/1;
  background-color: colors.$dark-color;
  color: rgba(colors.$light-color, 0.8);
  display: flex;
  font-size: clamp(5em, 15vw, 8em);
  align-items: center;
  justify-content: center;
  @include mixins.animation(background-color, 250ms, ease-in-out);
}

.cells:is(:hover, :active) {
  background-color: rgba(colors.$dark-color, 0.9);
  cursor: pointer;
}

.header,
.footer {
  color: rgba(colors.$light-color, 0.8);
}

.header-text {
  font-size: clamp(2em, 5vw, 3em);
  font-weight: 700;
  padding-top: 3rem;
}

.footer-text {
  font-size: 14px;
  padding: 1em;
}
