@use 'mixins';
@use 'modal';
@use 'buttons';
@use 'colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  background-color: colors.$light-color;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.playground {
  border: 2px solid colors.$light-color;
  aspect-ratio: 1/1;
  width: clamp(300px, 50vw, 500px);
  margin: 2em;
  display: none;
  background-color: colors.$dark-color;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cells {
  aspect-ratio: 1/1;
  border: 2px solid colors.$light-color;
  color: colors.$light-color;
  display: flex;
  font-size: clamp(5em, 15vw, 8em);
  align-items: center;
  justify-content: center;
  @include mixins.animation(background-color, 250ms, ease-in-out);
}

.cells:is(:hover, :active) {
  background-color: rgba(colors.$floure-cyan, 0.2);
}
