@media (min-width: 1000px) {
  .input-container {
    flex-direction: row;

    .choice-wrapper {
      display: flex;
      margin-top: 0;
      margin-left: auto;
      justify-content: space-around;

      input,
      label {
        margin-top: 0;
        margin-left: 0.5em;
      }
    }
  }
}
