@media (min-width: 1000px) {
  .input-container {
    flex-direction: row;

    .radio-heading,
    .choice-wrapper {
      margin-top: 0.5em;
    }
    .choice-wrapper {
      display: flex;
      margin-left: auto;
      justify-content: space-around;

      input,
      label {
        margin-top: 0;
        margin-left: 0.5em;
      }
    }
  }

  .submit-btn {
    margin-top: 0.5em;
  }
}
