@use 'mixins' as mixin;
@use 'colors';

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(250px, 30vw, 350px);
  padding: 2em;
  background-color: colors.$dark-color;
  color: rgba(colors.$light-color, 0.8);
  border-style: none;
  border-radius: 10px;
  box-shadow: 4px 4px 5px rgba(colors.$pure-black, 0.2);

  &::backdrop {
    background: rgba(colors.$pure-black, 0.5);
    // backdrop-filter: blur(5px);
  }
}

.modal-end {
  @extend .modal;
  text-align: center;
  &::backdrop {
    backdrop-filter: blur(5px);
  }

  .show-result {
    font-size: 1.25em;
    margin: 1em 0 2em;
  }
}

.input-container {
  display: flex;
  font-size: 1.25em;
  flex-direction: column;
  margin-bottom: 1em;

  label,
  input[type='text'] {
    width: 100%;
    margin-top: 0.5em;
  }

  input[type='text'] {
    @include mixin.input-style(0.5em, 5px);
    background-color: rgba(colors.$board-hover-color, 0.3);
    color: rgba(colors.$light-color, 0.8);
  }

  .choice-wrapper {
    margin-top: 0.5em;
  }
}
